<form method="post" action="AddFamily">
    <h3>Enter new family's info</h3>
    <br />
    <input type="text" placeholder="Name" name="LastName" class="form-control" />
    <br />
    <button class="btn btn-primary">Submit</button>
</form>

